<div style="font-size: x-large;" class="stars-outer">
  <div  class="stars-inner"></div>
</div>
<style>



.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
</style>
<script>



// total number of stars


var starPercentage = "{{ rateValue }}" / 5 * 100;
var starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;
var name = "rate{{name}}";
console.log(`.${name} .stars-inner`);
document.querySelector(`.${name} .stars-inner`).style.width = starPercentageRounded;



</script>