{% extends "base.html" %} 
{% load static%} 
{% block content %} 


<div class="container">
    <h2> Voice Detection</h2>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Breaking Captcha Solution</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#API">API</a>
      </li>
     
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane active">
        <h3>Breaking Captcha Solution</h3>
        
      </div>
      <div id="API" class="tab-pane">
        <h3>API</h3>
        
      </div>
    
    </div>
  {% endblock %}