
				<fieldset class="rating">
					<input type="radio" id="star5" name="rating" value="5" /><label for="star5" class="full" title="Awesome"></label>
					<input type="radio" id="star4.5" name="rating" value="4.5"/><label for="star4.5" class="half"></label>
					<input type="radio" id="star4" name="rating" value="4"/><label for="star4" class="full"></label>
					<input type="radio" id="star3.5" name="rating" value="3.5"/><label for="star3.5" class="half"></label>
					<input type="radio" id="star3" name="rating" value="3"/><label for="star3" class="full"></label>
					<input type="radio" id="star2.5" name="rating" value="2.5"/><label for="star2.5" class="half"></label>
					<input type="radio" id="star2" name="rating" value="2"/><label for="star2" class="full"></label>
					<input type="radio" id="star1.5" name="rating" value="1.5"/><label for="star1.5" class="half"></label>
					<input type="radio" id="star1" name="rating" value="1"/><label for="star1" class="full"></label>
					<input type="radio" id="star0.5" name="rating" value="0.5"/><label for="star0.5" class="half"></label>
				</fieldset>
		

			<h4 id="rating-value" ></h4>
	
	

<script>


  let star = document.querySelectorAll('input');
let showValue = document.querySelector('#rating-value');
  // Fetch the base value from the database
  let baseValue = '{{ rateValue }}'; 
let disabled = '{{ disabled }}'
// Set the base value as the initial value for the star rating
for (let i = 0; i < star.length; i++) {
  if (star[i].value == baseValue) {
    star[i].checked = true;
    break;
  }
}
if(!disabled){
  for (let i = 0; i < star.length; i++) {
    star[i].disabled = true;
  }
}else{
  for (let i = 0; i < star.length; i++) {
	star[i].addEventListener('click', function() {
		i = this.value;

		showValue.innerHTML = i + " out of 5";
	});
}}


</script>
