/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body{
    background-color: #f6f4f4;
}
html {
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
embed, iframe, object {
	max-width: 100%;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin: 0;
}

/*
====> 2.1 Headings
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	color: #383838;
	line-height: 1.4;
	padding-bottom: 15px;
	font-weight: normal;
}
h1 { font-size: 30px; }
h2 { font-size: 28px; }
h3 { font-size: 26px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 19px; }

/*
====> 2.2 Others
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #888888;
	font-size: 15px;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
p {
	color: #000000;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 15px;

}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/

/*
====> 3.1 Superscript and Subscript
--------------------------------------------------------------*/
sup, sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
input, textarea {
	-webkit-border-radius: 0px;
}
input[type="text"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	padding: 1%;
	border: 1px solid #f2f2f2;
	line-height: 20px;
	width: 98%;
	margin: 0 0 30px;
	background-color: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border: 1px solid #eaeaea;
}
input.s {
	width: 60%;
	padding: 4px 54px 4px 10px;
	height: 36px;
	color: #666666;
	background-color: #ffffff;
	margin: 0;
	border: 1px solid #f2f2f2;
}
input.s:focus {
	padding-left: 10px;
	border-color: #eaeaea;
	text-indent: 0;
}
.ample-button,
input[type="reset"],
input[type="button"],
input[type="submit"],
button {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	color: #FFFFFF;
	display:inline-block;
	margin-bottom: 30px;
	padding: 5px 25px;
	cursor: pointer;
	background-color: #80abc8;
	border: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 16px;
}
.ample-button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
	-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
	box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
}
.center{
    width: 60% !important;
    margin: 150px auto !important;
    padding: 20px !important;
}
.img_car{
    width: 100% !important;
    height: 450px !important;
}
.container{
    margin-top: 50px;

}

